<!DOCTYPE html>
<html lang="en " ng-app="countMeUp">

<head>
    <meta charset="UTF-8">
    <title>Count me up!</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.js"></script>
    <script src="http://cdn.sockjs.org/sockjs-0.3.min.js"></script>

    <script>
        angular.module("countMeUp", [])
            .config(function ($httpProvider, $httpParamSerializerJQLikeProvider) {
                $httpProvider.defaults.transformRequest.unshift($httpParamSerializerJQLikeProvider.$get());
                $httpProvider.defaults.headers.post['Content-Type'] = 'application/x-www-form-urlencoded; charset=utf-8';
            })
            .controller("countCtrl", function ($scope, $http, $timeout) {

                $scope.competitionId = 0;
                $scope.totalVotes = 0;
                $scope.voteList = [];
                $scope.fakeToken = "asasasafgdg";
                $scope.userId = "";

                $scope.logIn = function () {

                    $http({
                        url: "http://localhost:8080/count_me/authorize_user",
                        method: "POST",
                        data: {token: $scope.fakeToken}
                    }).success(function (resp) {

                        $scope.userId = resp;

                    }).error(function (resp) {
                        console.log(resp)
                    });

                };


                console.log($scope.userId)


                $scope.voteForCandidate = function (candidateName) {
                    $http({
                        url: "http://localhost:8080/count_me/vote",
                        method: "POST",
                        data: {
                            candidate: candidateName,
                            competition: $scope.competitionId,
                            user_Id: $scope.userId
                        }
                    })
                        .success(function (resp) {
                            console.log(resp)
                        })
                        .error(function (resp) {
                            console.log(resp)
                        })
                };


                $scope.getCompetition = function () {
                    $http.get("http://localhost:8080/count_me/get_active_competition")
                        .success(function (resp) {

                            $scope.competitionId = resp.id
                        }).error(function (resp) {
                        console.log(data)
                    })
                };

                $scope.getTotalVotes = function () {
                    console.log($scope.competitionId);
                    $http({
                        url: "http://localhost:8080/count_me/get_total_votes",
                        method: "GET",
                        data: {competition: $scope.competitionId}
                    }).success(function (resp) {
                        $scope.totalVotes = resp;
                    })
                        .error(function (resp) {
                            console.log(resp)
                        })
                };


                //if ($scope.userId != "") {
                $scope.getCompetition();
                $scope.getTotalVotes();

                var ws = new SockJS("/echo");
                ws.onopen = function () {
                    console.log('Info: WebSocket connection opened.');
                };
                ws.onmessage = function (event) {
                    console.log(event.data)

                    if (event.data != "No active competitions found") {
                        $timeout(function () {
                            $scope.voteList = event.data.candidateVotes;

                        }, 500);
                    }
                };
                ws.onclose = function () {

                    console.log('Info: WebSocket connection closed.');
                };

                //  }
            });


    </script>
</head>

<body ng-controller="countCtrl">
<div class="header">
    <div class="panel panel-primary">
        <h1 class="panel-heading">Count me Up!!!</h1>

    </div>
</div>
<div>
    <button type="button " class="btn btn-info btn-lg" data-dismiss="modal" ng-click="logIn()">Log in</button>
</div>

<div>
    <table class="table table-stripped table-bordered">
        <thead>
        <tr>
            <th>Vote</th>
            <th>Candidate</th>
            <th>Votes</th>
            <th>%</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="vt in voteList">
            <td>
                <button class="btn btn-xs btn-primary" ng-click="voteForCandidate(vote.candidateName)">
                    Vote
                </button>
            </td>
            <td>{{vt.name}}</td>
            <td>{{vt.votes}}</td>
            <td>{{vt.percent}}</td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>